#Elnene {
    background-color: rgb(124, 17, 17);
    height: 0.5vw;
    padding-top: 0.5vw;
    padding-bottom: 1vw;
    margin-left: 16em;
    margin: 0vw;
    text-align: center;

}

#Elnene a {
    text-decoration: none;
    padding: 0.5em;
    color: rgb(255, 251, 0);
    border-radius: 10%;
    text-align: center;
    margin-left: 6em;
}

body nav ul a:hover{
    background-color: rgb(2, 2, 2);
}

body nav h3{
    width: 5em;
    height: 5em;
}

